BETTER_AUTH_SECRET="secret"
BETTER_AUTH_URL=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
DATABASE_URL="postgresql://postgres:1234@localhost:5432/algoarena"
NEXT_PUBLIC_BACKEND_URL="http://localhost:5000/api/v1"
